/*
===================================================
BODY
===================================================
*/
body {
    background color: #adadad;
    width: 100%;
}

section {
    width: 100%;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

header {
    width: 100%;
    margin: auto;
    height: 100px;
    
}

/*
===================================================
HEADER
===================================================
*/
#header {
    display: block;
    background: #525252;
}

#logo {
    height: 20%;
    color: #F2CB30;
    width: 30%;
    float: left;
    font-weight: 700;
    font-size: 350%;
}

#trouble {
    float: right;
}
header p {
    width: 30%;
    float: left;
    margin: auto;
    font-size: 25px;
    color: #c1c1c1;
    padding-top: 10px;
    height: 100px;
    
}

/*
===================================================
SECTION ONE
===================================================
*/

#home {
    background: url(../Pictures/big_img.jpg) no-repeat scroll 0% 0%;
    background-size: 100%;
    height: 425px;
}

blockquote {
    width: 45%;
    
    padding: 0.5% 0% 0% 0%;
    color: #333333;      
}

blockquote p{
    font-size: 40px;
    line-height:1.2;
    margin-bottom: 2%;
  
}
blockquote a{
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-style: italic;
}
    
/*
===================================================
SECTION TWO
===================================================
*/
#blog h1{
    width: 40%;
    margin: 2% 5%;
    color: #454545;
    font-size: 200%;
}

#blog p{
    font-size: 180%;
    margin: 2% 5%;
    color: #454545;
}

#blog  a{
    background: #454545 none repeat scroll 0% 0%;
    color: #ffffff;
    padding: 12px 38px;
    border-radius: 26px;
    margin:0% 5%;
    font-size: 150%;
    font-weight: 800;
}

/*
===================================================
SECTION THREE
===================================================
*/

/*
#type figure{
    width 25%;
    float: left;
    height:300px;
    margin: 50px 0px 0px 80px;
}
*/

#type figure{
    width: 25%;
    float: left;
    margin: 5% 0% 0% 5%;
    align-content: center;
}
#type figure img{
    width: 70%;
    margin: 3% 20%;
    float: inherit; 
}
#type figure h2{
    text-align: center;
    color: #454545;
    width: 100%;
}
#type figure p{
    color: #454545;
    text-align: center;
    width: 100%;
    font-size: 190%;   
}


/*
===================================================
SECTION FOUR
===================================================
*/
.row {
    display: block;
    max-width: inherit;
}

.left{
    width: 33%;
    height: 60%;
    float:left;
}
.left img{
    width: 100%;
    height: 100%;
}
.right{
    height: 80%;
    float: right;
    width: 47%;
}






/*
===================================================
SECTION FIVE
===================================================
*/












/*
===================================================
SECTION SIX
===================================================
*/

.text {
    
}

.col2 {
    width: 50%;
    height: 80px;
}
